body {
  font-family: "Montserrat";
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  font-weight: bold;
}
#navi{
  padding:0 3%;
  background-color: #7dc95e;
  background: linear-gradient(to top,rgba(0,0,0,0) 0%,rgba(0,0,0,.4) 30px,rgba(0,0,0,.75) 100%);
  position: fixed;
  width: 100%;
  z-index: 1;
}
#navi .nav-link:hover{
  opacity: 1.3;
  color: white;
  text-decoration: underline;
}
#navi .brand:hover{
  color: white;
}
.nl{
  font-size: 1.5rem;
  color: white;
  opacity: 0.7;
}
.brand{
  color: white;
  font-size: 2rem;
}
.navbar-item {
  padding: 0 0.75rem;
}
#title{
  background-image: url("images/sunset-bird.jpg");
  background-size: cover;
  width: 100%;
  height: 800px;
}
.head{
  color: #3a2e28;
  line-height: 1.5;
  text-align: center;
  padding:20% 3% 5% 3%;
}
.head-title{
  font-size: 3.5rem;
}
.head-desc{
  font-size: 1.25rem;
}
#cta{
  color: black;
  background-color: #f8f8f8;
  padding: 5% 3%;
  line-height: 1.5;
}
.cta-btn{
  background-color: #f15936;
  border-color: #dd360f;
  color: #fff;
  border-radius: 3px;
  font-size: 2rem;
  font font-family: "Montserrat";
  margin-top: 2rem;
}
.cta-icon{
  font-size: 3rem;
  color: #fcaf58;
}
.cta-icon:hover{
  color: #ff8c42;
}
.cta-head{
  font-size: 3rem;
}
.cta-img{
  width: 60%;
  height: 60%;
  border-radius: 3px;
}
#cta .cta-btn:hover{
background-color: #dd360f;
}
#news-letter{
  color: white;
  background-color: #ff8c42;
  padding: 3% 10%;
  line-height: 1.5;
}
.news-email{
  display: block;
  text-align: left;
}
.news-btn{
text-align: right;
}
.gutter{
  width: 100%;
  height: 0.6rem;
  background-color: white;
}
.news-head{
  margin-bottom: 2rem;
}
#footer{
  background-color: #f8f8f8;
}
.foot-head{
  text-align: center;
  font-size: 3rem;
}
.foot-row{
  padding: 3% 10%;
}
.foot-link{
  display: block;
  font-size: 1rem;
}
.footer-icon{
  margin: 0 1.5%;
  font-size: 2rem;
}
.btn-colored{
  background-color: #ffe933;
  border-color: #ffc000;
  border-radius: 3px;
}
